<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDe_IR9J3LcW8Og9pvO2e5GVsthXEay3Vw</string>
	<key>GCM_SENDER_ID</key>
	<string>22690521576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfitness</string>
	<key>PROJECT_ID</key>
	<string>myfitness-8059d</string>
	<key>STORAGE_BUCKET</key>
	<string>myfitness-8059d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22690521576:ios:2e216ebfb59ed04bd0845d</string>
</dict>
</plist>